@model Chengdexy.CN.Models.NavbarItem

@using (Html.BeginForm("EditNavbarItem", "Admin", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="inputText">Text</label>
        <input type="text" class="form-control" id="inputText" name="inputText" value="@Model.Text" placeholder="Input Text" />
    </div>
    <div class="form-group">
        <label for="inputAction">Action</label>
        <input type="text" class="form-control" id="inputAction" name="inputAction" value="@Model.Action" placeholder="Input Action" />
    </div>
    <div class="form-group">
        <label for="inputController">Controller</label>
        <input type="text" class="form-control" id="inputController" name="inputController" value="@Model.Route" placeholder="Input Controller" />
    </div>
        <button class="btn btn-default" type="submit">更新</button>
        <input type="text" class="hidden" id="hiddenID" name="hiddenID" value="@Model.ID" />
}

