
@{
    ViewBag.Title = "HomepageSettings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Action("ShowSidebar", new { index = 3 })

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">首页模块设置</h1>
    <h3>巨幕设置:</h3>
    @using (Html.BeginForm("HomepageSettings", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            <label for="inputCapital">标题:</label>
            <input type="text" name="inputCapital" id="inputCapital" class="form-control" placeholder="Capital" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputDescribe">描述:</label>
            <input type="text" name="inputDescribe" id="inputDescribe" class="form-control" placeholder="Describe" required />
        </div>
        <div class="form-group">
            <label for="buttonText">按钮文本:</label>
            <input type="text" name="buttonText" id="buttonText" class="form-control" placeholder="Button Text" required />
        </div>
        <div class="form-group">
            <label for="buttonUrl">按钮链接:</label>
            <input type="text" name="buttonUrl" id="buttonUrl" class="form-control" placeholder="Button Url" required />
        </div>
        <button type="submit" class="btn btn-primary btn-block">确认</button>
    }
    <h3>预览:</h3>
    @Html.Action("ShowJumbotron", "Home")
</div>
