
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@Html.Action("ShowSidebar")
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container">
        <h1 class="page-header">These are all the things you've done</h1>
        <ul>
            <li><h3>制作首页巨幕**个.</h3></li>
            <li><h3>发布编程作品**个,共计**个版本.</h3></li>
            <li><h3>编写博客文章**篇.</h3></li>
        </ul>
    </div>
</div>