@model Chengdexy.CN.Models.Jumbotron
<!--巨幕-->
<div class="jumbotron">
    <h1>@Model.Capital</h1>
    <p>@Model.Describe</p>
    <p>
        <a class="btn btn-primary btn-lg" href="@Model.DownloadUrl">@Model.DownloadButtonText</a>
    </p>
</div>
